@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: url(../Pictures/AU.jpeg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 100px;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo{
    position: relative;
}

header .title{
    position: relative;
    font-size: 3em;
    color: rgb(61, 121, 12);
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
    letter-spacing: 1px;
    left: -85px;
    top: 5px;
    font-family: 'Dancing Script', cursive;
    
}

header .navigation{
    position: relative;
    display: flex;
}

header .navigation li {
    list-style: none;
}
header .navigation li a:hover{
    transform: translateY(-15px);
    transition: 0.5s;
}

header .navigation li a{
    display: inline-block;
    color: rgb(148, 136, 24);
    margin-right: 40px;
    text-decoration: none;
}

header .navigation li a:hover{
    
    color: rgb(12, 70, 0);
}

.content{
    max-width: 800px;
}

.content .contentBox p{
    font-size: 2.5em;
    color: rgb(148, 136, 24);
    font-weight: 300;
    margin: 20px 0;
    text-align: justify;
}

.content .contentBox p span{
    color: rgb(12, 70, 0);
    text-align: justify;
}

.content .contentBox a{
    text-decoration: none;
}

.sci{
    position: absolute;
    bottom: 30px;
    display: flex;
}

.sci li{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sci li a{
    position: relative;
    display: inline;
    margin-right: 20px;
    transform: scale(0.5);
    
}

.sci li a:hover{
    transform: translateY(-15px);
    transition: 0.5s;
}

.container {
  position: relative;
  width: 50%;
  max-width: 300px;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute; 
  bottom: 0; 
  background: rgb(29, 65, 5);
  background: rgba(50, 112, 9, 0.425); /* Black see-through */
  color: #9e8121; 
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: #9e8121;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

.container:hover .overlay {
  opacity: 1;
}
