@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: url(../Pictures/Background.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 100px;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo{
    position: relative;
}

header .title{
    position: relative;
    font-size: 3em;
    color: rgb(61, 121, 12);
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
    letter-spacing: 1px;
    left: -85px;
    top: 5px;
    font-family: 'Dancing Script', cursive;
    
}

header .navigation{
    position: relative;
    display: flex;
}

header .navigation li {
    list-style: none;
}
header .navigation li a:hover{
    transform: translateY(-15px);
    transition: 0.5s;
}

header .navigation li a{
    display: inline-block;
    color: rgb(148, 136, 24);
    margin-right: 40px;
    text-decoration: none;
}

header .navigation li a:hover{
    
    color: rgb(12, 70, 0);
}

.content{
    max-width: 800px;
}

.content .contentBox h2{
    color: rgb(148, 136, 24);
    font-size: 4em;
    line-height: 1em;
}

.content .contentBox h2 span{
    color: rgb(12, 70, 0);
    text-align: justify;
}

.content .contentBox p{
    font-size: 1.1em;
    color: rgb(148, 136, 24);
    font-weight: 300;
    margin: 20px 0;
    text-align: justify;
}

.content .contentBox a{
    display: inline-block;
    padding: 10px 30px;
    background: rgb(12, 70, 0);
    color: rgb(148, 136, 24);
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
}

.content .contentBox a:hover{
    transform: translateY(-15px);
    transition: 0.5s;
}

.sci{
    position: absolute;
    bottom: 30px;
    display: flex;
}

.sci li{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sci li a{
    position: relative;
    display: inline;
    margin-right: 20px;
    transform: scale(0.5);
    
}

.sci li a:hover{
    transform: translateY(-15px);
    transition: 0.5s;
}
